
<p>
  {{name}} <br>
  {{id}} <br>
  {{isImportant}}
</p>

<button (click) = "greeter()" mat-raised-button>PrettyButton</button>

<br><br>
<p>
  Sum:
</p>
<input [(ngModel)] = "num1"> <br>
<input [(ngModel)] = "num2">

<button (click) = "sum()">Count</button>


<br>
<br>

Name: <input [(ngModel)] = "namee"> <br>
Age: <input [(ngModel)] = "age"> <br>


<label>Gender: </label>
  <mat-radio-group
  [(ngModel)]="gender">
  <mat-radio-button *ngFor="let gender of genders" [value]="gender">
     {{gender}}   
  </mat-radio-button>
</mat-radio-group> <br>

<button (click) = "add()">Add</button>
